<ion-view title="Cart">
<ion-content >
	<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder can-swipe="listCanSwipe">
		<ion-item ng-repeat="item in items">
			<p>{{item.id}}</p>
			<p>{{item.number}}</p>
			<p> {{item.totalprice}}</p>
			
			<ion-option-button class="button-position" ng-click="delete($item)">Delete</ion-option-button>
		</ion-item>
	</ion-list>
	<button class="button button-full button-dark button-positive" >Xong</button>
</ion-content>
</ion-view>