<ion-view title="Khuyến mãi">
<div class="tabs tabs-striped tabs-top tabs-color-balanced">
        <a id="tab-all" class="tab-item active font-large" ng-click="filterAll()">
Tất cả                    </a>
        <a id="tab-today"class="tab-item font-large" ng-click="filterToday()">
Hôm nay                    </a>
        <a  id="tab-week"class="tab-item font-large" ng-click="filterThisWeek()">
Tuần này                    </a>
        <a  id="tab-hot"class="tab-item font-large" ng-click="filterHot()">
Hot                    </a>
    </div>
<ion-content class="has-tabs-top has-tabs">
    <div class="list card" style="padding-top:50px">
		<div ng-repeat="cake in filteredCakes" class="card-padding">
                <div class="item item-divider">
                    <h2 class="dark-green name-menu">{{item.Title}}</h2>
                    <h2 class="dark-green status-menu">10%</h2>
                </div>
                <div class="item item-text-wrap">
                    <img class="full-image" ng-src="{{item.Image}}" ng-click="dealsDetail()">
                    <div class="row">
                        <p class="dark-green price-menu">{{item.Abstract}}</p>
                    </div>
                </div>
                
        </div>

</div>

</ion-content>
</ion-view>
